@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  /* background-image: url(./assets/images/bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; */
}
.menu {
  height: 100px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
h1 {
  font-weight: 700;
  font-size: 60px;
  margin: 0;
  color: rgb(95, 235, 181);
}
.departments_Container {
  background-color: rgb(43, 77, 116);
  padding: 10px;
  border-radius: 10px;
}

.cities_Container {
  background-color: rgb(43, 77, 116);
  padding: 10px;
  border-radius: 10px;
}

#claro{
  background-color: rgb(212, 212, 212);
  padding: 10px;
  border-radius: 10px;
  border-style: none;
}
#oscuro{
  background-color: rgb(95, 93, 93);
  padding: 10px;
  border-radius: 10px;
  border-style: none;
}